<form name="add_form" novalidate dr-recipe ng-model="form" ng-submit="addCtrl.submit()">
	<div class="markedSection spaceForm">
		<div class="flex">
			<div class="alignTop formMargin">
				<label for="title">Recipe Name</label><br>
				<input name="title" ng-model="title" type="text"
					placeholder="Name"
					ng-minlength=3  ng-maxlength=20 required dr-focus/>
				<div class="error" ng-if="add_form.title.$dirty && !add_form.title.$focused">
					<small ng-show="add_form.title.$error.required">
						Field is required
					</small>
					<small ng-show="add_form.title.$error.minlength">
						Must be at least 3 characters
					</small>
					<small ng-show="add_form.title.$error.maxlength">
						Cannot be more than 20 characters
					</small>
				</div>
			</div>
			<div class="alignTop formMargin">
				<label>Recipe Type</label><br>
				<select ng-model="recipe.type" ng-options="type for type in addCtrl.types">
				</select>
			</div>
			<div class="alignTop formMargin">
				<label>Image</label><br/>
				<div class="tabPage" ng-init="image.type='file'">
					<div class="tabList">
						<div class="tabButton textButton" ng-click="image.type='file'"
							ng-class="{activeTab: image.type === 'file'}">
							File
						</div>
						<div class="tabButton textButton" ng-click="image.type='url'" 
							ng-class="{activeTab: image.type === 'url'}">
							URL
						</div>					
					</div>
					<div class="tabBody">
						<div ng-show="image.type === 'url'">
							<input type="text" placeholder="Image url" ng-model="image.url">
						</div>
						<div ng-show="image.type === 'file'">
							<input type="text" placeholder="Image file" ng-model="image.file">
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="markedSection spaceForm" ng-keyup="$event.keyCode == 13 && addCtrl.addIngredient()">
		<label for="title">Ingredients</label><br>
		<table class="tableList">
			<tr ng-repeat="ingredient in recipe.ingredients" ng-class="{shaded: $odd}">
				<td>
					<li>{{ingredient.type}} {{ingredient.quantity}}</li>
				</td>
				<td>
					<div class="textButton red" 
						ng-click="addCtrl.delIngredient($index)">
						X
					</div>
				</td>
			</tr>
		</table>
		<input name="ingredient" ng-model="ingredient.name" type="text"
			placeholder="Ingredient" class="halfWidth"
			ng-minlength=3 ng-maxlength=20 dr-focus/
		><input class="halfWidth" type="number" ng-model="ingredient.quantity" min="0" step="any" placeholder="Quantity" />
		
		<select name="unitType" ng-model="ingredient.unitType"
			ng-options="unitType for unitType in addCtrl.unitTypes">
			<option value="" disabled selected>Type</option>
		</select>
		
		<select ng-show="ingredient.unitType" ng-model="ingredient.unit"
			ng-options="unit for unit in addCtrl.units">
			<option value="" disabled selected>Unit</option>
		</select>
		
		<button type="button" ng-click="addCtrl.addIngredient()">Add</button>
		
		<div class="error" ng-show="add_form.ingredient.$dirty && !add_form.ingredient.$focused">
			<small ng-show="add_form.ingredient.$error.minlength">
				Must be at least 3 characters
			</small>
			<small ng-show="add_form.ingredient.$error.maxlength">
				Cannot be more than 20 characters
			</small>
		</div>
	</div>

	<div class="markedSection spaceForm">
		<label for="title">Instructions</label><br>
		<table class="tableList">
			<tr ng-repeat="instruction in recipe.instructions" ng-class="{shaded: $odd}">
				<td>
					{{$index+1}}. {{instruction.step}}
				</td>
				<td>
					<div class="textButton red" 
						ng-click="addCtrl.delInstruction($index)">
						X
					</div>
				</td>
			</tr>
		</table>
	
		<input name="Instruction" ng-model="instruction" type="text"
			placeholder="Instruction" class="fullWidth"
			ng-minlength=3 dr-focus
			ng-keyup="$event.keyCode == 13 && addCtrl.addInstruction()"/
		><button type="button" ng-click="addCtrl.addInstruction()">Add</button>
	</div>

	<div class="markedSection spaceForm">
			<button ng-disabled="add_form.$pristine || add_form.$invalid" type="submit">Finish Recipe</button>
	</div>

	<small class="success" ng-show="addCtrl.result">Recipe added successfully</small>
	<small class="error" ng-show="addCtrl.result == false">Recipe could not be submitted</small>
</form>