<div ng-if="recipeCtrl.recipe">
	<div class="markedSection">
		<div class="recipeTitle">
			<h2>{{recipeCtrl.recipe.title}}</h2>		
		</div
		><div class="recipeImg">
			<img  ng-src="{{recipeCtrl.recipe.img}}" hide-error/>
		</div>
	</div>

	<div class="markedSection recipeIngredients">
		<h3>Ingredients</h3>
		<ul>
			<li ng-repeat="i in recipeCtrl.recipe.ingredients">
				{{i.type}} {{i.quantity}}
			</li>
		</ul>
	</div>

	<div class="markedSection recipeInstructions">
		<h3>Instructions</h3>
		<ol>
			<li ng-repeat="i in recipeCtrl.recipe.instructions">
				{{i.step}}
			</li>
		</ol>
	</div>
</div>
<div ng-if="recipeCtrl.recipe === false">
	<h2>Oops</h2>
	<p>That recipe doesn't exist</p>
	<a ng-href="_blank">Home</a><br>
	<a ng-href="browse">Browse Recipes</a>
</div>