*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	--theme-background-dark: #252525;
	--theme-background-dark2: #444444;
	--theme-foreground-light: #FFFFFF;
	--theme-foreground-dim-light: #BBBBBB;
	--theme-background-light: #FAFAFA;
}

body {
	margin: 0 0 0 0;
}

header {
	width: 100%;
	background-color: var(--theme-background-dark);
	color: var(--theme-foreground-light);
}

header h1 {
	margin-left: 0.5em;
}

footer {
	position: absolute;
	bottom: 0;
	height: 2em;
	width: 100%;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	background-color: var(--theme-background-light);
	border-top: solid lightgrey 1px;
}

.card {
	border: 1px lightgrey solid;
	box-shadow: 3px 3px 5px #888888;
}

#content {
	margin: auto;
	width: 60%;
	min-width: 768px;
	max-width: 1024px;
	padding: 1.5em;
}

#subHeader {
	transition: transform 0.5s;
	width: 100%;
	background-color: var(--theme-background-dark2);
	border-bottom: 1px solid var(--theme-background-dark);
}

#subHeader div {
	padding: 0.5em 1em;
	display: inline-block;
	color: var(--theme-foreground-dim-light);
}

#subHeader div:hover {
	color: var(--theme-foreground-light);
}

.error {
	color: red;
}

.success {
	color: green;
}

.container {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	min-height: 100%;
	position: relative;
}

.contentSpacer {
	margin-top: 3em;
	padding-bottom: 4em;
}

.recipeImg {
	width: 40%;
	display: inline-block;
	padding-bottom: 1em;
}

.recipeImg img {
	width: 100%;
}

.recipeTitle {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.recipeIngredients{
	width: 100%;
}

.markedSection + .markedSection {
	border-top: 1px solid black;
}

.red {
	color: red;
}

.spaceForm + .spaceForm {
	margin-top: 1em;
	padding-top: 1em;
}

.paddedSection {
	padding-top: 1em;
}

.textButton {
	display: inline-block;
	cursor: pointer;
	padding: .2em;
	font-family: monospace;
	user-select: none;
	-moz-user-select: none;
}

.tableList {
	border-collapse: collapse;
}

.tableList td + td {
	padding-left: 1em;
}

.shaded {
	background-color: #EBEBEB;
}

.inlineDiv {
	display: inline-block;
}

.tabPage {
	border: 1px solid lightgrey;
}

.tabBody {
	border-top: 1px solid lightgrey;
	padding: 1em;
}

.tabList {
	background-color: aliceblue;
	display: flex;
}

.activeTab {
	background-color: silver;
}

.tabButton:hover {
	background-color: gainsboro;
}

.alignTop {
	vertical-align: top;
}

input.ng-dirty.ng-invalid {
	border: 1px solid red;
}

input.ng-dirty.ng-valid {
	border: 1px solid green;
}

.absoluteRight {
	position: absolute;
	right: 0;
}

.verticalMid {
	top: 50%;
	transform: translateY(-50%);
}

.relative {
	position: relative;
}

.desktopHide {
	display: none;
}

.navButton {
	font-size: 2em;
	margin-right: 0.5em;
	line-height: 1.0;
}

.linkButton {
	color: inherit;
	text-decoration: none;
}

.flex-even {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.negativeMargin {
	margin-top: -2em;
}

.formMargin {
	margin-top: 2em;
}

.lightbox {
	user-select: none;
	-moz-user-select: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	color: var(--theme-foreground-light);
}

.lightboxTop {
	height: 5%;
}

.lightboxBottom {
	height: 90%;
}

.lightboxContent.noDecoration {
	height: 100%;
	width: 100%;
}

.lightboxBottom.noTitle.noInfo {
	height: 100%;
}

.lightboxBottom.noTitle .lightboxBottom.noTitle {
	height: 95%;
}

.lightboxButton {
	position: relative;
	vertical-align: middle;
	text-align: center;
	color: var(--theme-foreground-light);
	font-size: 3em;
	width: 10%;
	height: 20%;
}

.lightboxButtonText {
	line-height: 1;
	position: absolute;
	left: 0;
	right: 0;	
}

.lightboxTitle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.lightboxTitle h2 {
	margin: 0;
	line-height: 1;
}

.lightboxQuit {
	color: var(--theme-foreground-light);
	font-size: 2em;
	width: 10%;
	text-align: center;
	position: absolute;
	right: 0;
	padding-right: 0.5em;
}


.lightboxContent {
	width: 80%;
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

.lightboxMask {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	height: 90%;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
}

.lightboxMask .active {
	display: block;
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.lightbox .topContent {
	position: relative;
	height: 100%;
}

.lightbox .bottomInfo {
	height: 5%;
}

.lightboxMask img {
	display: none;
}

.lightbox .imageCounter {
	width: 100%;
	color: var(--theme-foreground-light);
	text-align: center;
}

.lightboxContainer {
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 500px;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.textGlow:hover {
	text-shadow: 0 0 3px #FFFFFF
}

.loadingImg {
	display: block;
	margin: auto;
	max-width: 100%;
}

.fullWidth {
	width: 100%;
}

.halfWidth {
	width: 50%;
}

.noscroll {
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	#content {
		min-width: 0;
		box-sizing: border-box;
		width: 100%;
		box-shadow: none;
		border: none;
	}

	#subHeader a {
		display: block;
	}

	.recipeTitle {
		width: 100%;
		text-align: center;
	}
	
	.recipeImg {
		width: 100%;
		display: block;
		margin: auto;
	}

	#subHeader {
		transition: max-height 0.5s;
		position: absolute;
		max-height: 100%;
		overflow: hidden;
	}

	#subHeader.mobileHide {
		transition: max-height 0.5s;
		max-height: 0;
	}

	.desktopHide {
		display: initial;
	}

	.spaceMobile {
		margin-top: 1em;
		padding-top: 1em;
	}

}

@media print {
	body * {visibility: hidden;}
	#content * {visibility: visible;}
	#content { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}