<div class="lightbox" ng-class="{'ng-hide': !visibility && (visibility != null)}">
    <div ng-show="visibility != null || title != null" ng-class="{lightboxTop: visibility != null || title != null}">
        <div ng-show="title != null" class="inlineDiv lightboxTitle"><h2>{{title}}</h2></div>
        <div ng-show="visibility !=null" ng-click="visibility = false" class="textButton lightboxQuit">x</div>
    </div
    ><div class="lightboxBottom" ng-class="{noTitle: !title, noInfo: images.length === 1}">
        <div ng-show="images.length > 1" ng-click="left()" class="textButton lightboxButton">
            <div class="lightboxButtonText verticalMid">
                <
            </div>
        </div
        ><div class="inlineDiv lightboxContent" ng-class="{noDecoration: images.length === 1}">
            <div class="topContent">
                <div class="lightboxMask">
                    <img ng-repeat="image in images" ng-class="{active: active == $index}" ng-src="{{image}}">
                </div>
            </div
            >
        </div
        ><div ng-show="images.length > 1" ng-click="right()" class="textButton lightboxButton">
            <div class="lightboxButtonText verticalMid">
                >
            </div>
        </div>
    </div
    ><div ng-show="images.length > 1" class="bottomInfo">
        <div class="imageCounter">
            <span>Image {{active+1}} / {{images.length}}</span>
        </div>
    </div>
</div>